<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top mb-4">
<div class="container">
  <a class="navbar-brand" href="{% url 'home' %}">My Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profiles:list' %}">Home</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="">Jobs</a>
        </li>
        {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="">Admin</a>
          </li>
        {% endif %}
      {% endif %}
    </ul>
    {% if user.is_authenticated %}
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'profiles:detail' user.id %}">View Profile</a>
            <a class="dropdown-item" href="{% url 'profiles:update' %}">Update Profile</a>
            <a class="dropdown-item" href="{% url 'account_change_password' %}">Change password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>
          </div>
        </li>
      </ul>
    {% else %}
      <form class="form-inline my-2 my-lg-0">
        <a href="{% url 'account_login' %}" class="btn btn-primary mr-2">Log in</a>
        <a href="{% url 'account_signup' %}" class="btn btn-info">Sign up</a>
      </form>
    {% endif %}
  </div>
</div>
</nav>
